body {font:12px/1.5 '宋体',Arial,sans-serif;}/*background:url("../images/contentbg.jpg") repeat-x;*/
.pagewrap {
	padding: 0px;
	width: 1100px;
	margin: 0px auto;
}
.pagewrap{
	border: solid 0px #ccc;
}
.top1{ background-color: gray;}
.rcol{font-size:18px; color: red;}
.top20{padding-top: 20px;}
.top30{padding-top: 30px;}
.topb{margin-top: 30px;}
.dhltop{font-weight: 700;position:absolute;margin-top: 5px;}
.dhltop2{font-weight: 700;position:absolute;margin-top: 10px;}
.dhltop3{font-weight: 700;position:absolute;margin-top: 20px;}
.headimg{background:url("../images/headerbg.png") repeat-x;height:100px;}
.textcenter{text-align:center;}
.textcolor{color:#990033}
.h1{height:1px;}
.h2{height:2px;}
.h5{height:5px;}
.h20{height:20px;}
.h40{height:40px;}
.h100{height:100px;}
/*.footer{text-align: center;background:black;height:50px;padding-top:10px;color: #fff;}*/
.footer{background-color: #E9E7DB;}
.footerCon{width: 1038px; margin: 0 auto; padding: 20px 0 30px;}
.copyright{float: left;}
.logobottom{float: right;}
.footerCon p{color: #656565; line-height: 200%;}
.footerCon p span{margin: 0 10px;}
.footerCon p a{color: #999999}

.clear{clear:both;width:0;height:0; _display:inline; overflow:hidden; font-size:0;}
.testw{width:700px;}
.current{border-bottom: 3px solid red;}
.split{height:1px;background:red;}
.hcol{background:red}
.splitimg{height:12px;background:url("../images/split.png") repeat-x;}
.casebc{background:#E4E4E4;}
.casecbc{background:#fff;}
.right{float:right;margin-right:5px;}
.left{float:left;}
.left20{margin-left: 20px;}
.searchw{width:150px;}
.navbar li{height:50px;}
.navbar li img{height:40px;width:40px;margin-top:-10px;}
.noborder {
border: 0px solid #dddddd;
}
.dhlhide{display:none}
.selectbc{background:#F2F2F2;}
.cc{background:#F2F2F2;margin: 0;padding: 0px;}
.livcenter{
height:40px;
line-height:40px;
font-size: 18px;
}
.card {
    border-bottom: solid 1px #ddd;
    margin: 0;
    padding-bottom: 5px;
}
.imgh{width:80px;height:40px}
.main-search{}
.main-search__content{position:relative}
.main-search__input{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
background:#FFF;border:1px solid #D4D4D4;font-size:16px;padding:7px 5px 7px 5px;vertical-align:middle;width:200px;-webkit-appearance:none}
.main-search__button{border:none;margin-top:-15px;padding:0;position:absolute;top:50%;right:0;background:red;}
.g-search{background: url("images/search.gif");height:30px;width:30px}